﻿@{
    ViewData["Title"] = "Home Page";
    string baseUrl = "http://" + Context.Request.Host.Host + ":" + Context.Request.Host.Port;
}
             
<div id="bms-container">       
               
    <div id="questions">
        <div>
            Age: <input id="age-input" type="text" name="age">
        </div>                           
        <div>
            Student: <input id="student-input" type="checkbox" name="student">    
        </div>
        <div>
            Income: <input id="income-input" type="text" name="income">
        </div>                                               
        <div>
            <button onclick="requestBundleObject()">Get Bundle</button>
        </div>
    </div>
                        
    <div>
        <div id="available-products">     
            <h3>Available products</h3>
            <ul id="available-products-list"></ul>
        </div>

        <div id="bundle-products">
            <h3>Bundle products</h3>   
            <ul id="bundle-products-list"></ul>
        </div>   
    </div>
</div>

<script>                   
                                                   
    var baseUrl = @Html.Raw(Json.Serialize(baseUrl));
    var availableProductsUL;
    var bundleProductsUL;

    var allProducts;
    var bundleProducts;

    function CreateFieldsObject() {
        const ageInput = document.getElementById("age-input");
        const studentInput = document.getElementById("student-input");
        const incomeInput = document.getElementById("income-input");
        return [
            { "PublicId": "00000001-0314-4532-b9f2-c22649195f51", "Value": ageInput.value },
            { "PublicId": "00000002-0314-4532-b9f2-c22649195f51", "Value": studentInput.checked ? "yes" : "no" },
            { "PublicId": "00000003-0314-4532-b9f2-c22649195f51", "Value": incomeInput.value }
        ];
    }

    function gotBundleProducts(products) {    
        allProducts = allProducts.filter(function(product) {
            return !products.find(p => p.id === product.id);
        });
        console.log(allProducts);
        createLiProductElements(allProducts, availableProductsUL);
    }         

    function requestBundleObject() {
        var fields = CreateFieldsObject();
        fetch(baseUrl + "/bundle/GetBundle",
            {
                body: JSON.stringify(fields),      
                headers: {
                    'user-agent': 'Mozilla/4.0 MDN Example',
                    'content-type': 'application/json'
                },
                method: 'POST'
            })
            .then(response => response.json())
            .then(function (data) {
                gotBundleProducts(data.products);   
                createLiProductElements(data.products, bundleProductsUL);
            });
    }

    function fetchAvailableProducts() {
        fetch(baseUrl + "/bundle/GetProducts")
            .then(function(data) {
                return data.json();                                       
            })
            .then(function (data) {
                allProducts = data;
                createLiProductElements(data, availableProductsUL);            
            });    
    }

    window.onload = function () {
        console.log("window onload");
        availableProductsUL = document.getElementById("available-products-list");
        bundleProductsUL = document.getElementById("bundle-products-list");
        fetchAvailableProducts();    
    };

    function availableProductClicked(event) {    
        console.log("availableProductClicked " + event);
    }

    function bundleProductClicked(event) {
        console.log("bundleProductClicked " + event);
    }

    function createLiProductElements(products, container) {
                                                       
        while (container.firstChild) {
            container.removeChild(container.firstChild);
        }

        for (var i = 0; i < products.length; i++) {
            //console.log(products[i].name);
            var li = document.createElement('li');               
            li.appendChild(document.createTextNode(products[i].name));
            li.onclick = function () {

                /*if (allProducts === null || bundleProducts === null) {
                    return;
                }

                var productName = this.textContent;
                var productIndex = allProducts.findIndex(p => p.name === productName);
                if (productIndex !== -1) {
                    var product = allProducts[productIndex];
                    allProducts.splice(productIndex, 1);
                    bundleProducts.push(product);
                }     */          
            };
            //li.onClick = productClicked(products[i].name);
            container.appendChild(li);
        }
    }    

</script>       

<style>
    h3 {
        text-align: center;
    }

    li:hover {
        color: white;
        background-color: blue;
        cursor: pointer;
    }

    input {
        /*margin-left: 10px;          */
    }

    #available-products {
        background-color: lightblue;
        width: 50%;
        float: left;
        height: 400px;
    }
    #bundle-products {
        background-color: lightgreen;
        margin-left: 50%;
        height: 400px;
    }
    #questions {
        height: 100px;
        width: 100%;
    }

</style> 